{
    "n_epochs": 200,
    "init_lr": 0.0125,
    "lr_schedule_type": "cosine",
    "lr_schedule_param": null,
    "dataset": "cifar10",
    "train_batch_size": 128,
    "test_batch_size": 512,
    "valid_size": 10000,
    "opt_type": "sgd",
    "opt_param": {
        "momentum": 0.9,
        "nesterov": true
    },
    "weight_decay": 3e-05,
    "label_smoothing": 0.1,
    "no_decay_keys": "bn#bias",
    "mixup_alpha": null,
    "model_init": "he_fout",
    "validation_frequency": 1,
    "print_frequency": 10,
    "n_worker": 12,
    "resize_scale": 0.08,
    "distort_color": "tf",
    "image_size": 32
}